/* Write your code here. */
.container {
  background: linear-gradient(to right, #1d976c, #93f9b9);
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.heading {
  color: white;
  font-family: 'roboto';
  font-weight: bold;
  font-size: 42px;
}
.btn {
  background-color: white;
  color: #219a6f;
  font-family: 'roboto';
  border: 0px solid;
  border-radius: 5px;
  padding-left: 38px;
  padding-top: 20px;
  padding-right: 38px;
  padding-bottom: 20px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 12px;
}
.img {
  width: 900px;
}
